body
{
    background: #0004fd;
    color:rgb(255, 255, 255)
}

h1
{
    color: gold;
}
h2
{
    color: aquamarine;
}
h3
{
    color: lawngreen;
}
title
{
    color: paleturquoise;
}
.mask1 {
    -webkit-mask-image: url(confia.jpeg);
    mask-image: url(confia.jpeg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;    
  }